@import "../utilities/variables";

.panel {
  display: flex;
  align-items: center;
  align-content: center;

  &--white {
    background-color: white;
  }

  &--padding-4 {
    padding: 4em;
  }

  &__text {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: $gray;
  }
}
